.product-third(
    data-8400="transform: translateY(100%)"
    data-9000="transform: translateY(0%)"
)
    .product-third__overlay(
        data-8400="opacity: 1;"
        data-9000="opacity: 0;"
    )
    .product-third__container
        .product-third__text-wrapper(
            data-8600="transform: translateX(-15px);"
            data-9100="transform: translateX(0px);"
        )
            .product-third__title Добавляйте
            .product-third__text
                | в чай, кофе. Готовьте
                br
                | капучино, латте и другие
                br
                | горячие напитки
        .product-third__object