.bottle
    position: fixed
    left: 0
    top: 0
    z-index: 1
    background-color: $color-almond
    width: 100%
    height: 100vh
    display: flex
    justify-content: center
    align-items: center
    overflow: hidden
    @include breakpoint($tablet)
        background-color: $color-almond
        position: relative
        padding: 40px 0
    &_for-mobile
        display: none
        @include breakpoint($tablet)
            display: flex
            background-color: $color-white
    &_for-mobile-2
        display: none
        @include breakpoint($tablet)
            display: none
        @include breakpoint($mobile)
            display: flex
    &:before
        content: ''
        display: none
        background: url('../img/bgs/bg-3.png') center center no-repeat
        background-size: 70% 70%
        width: 900px
        height: 900px
        position: absolute
        left: 50%
        top: 50%
        transform: translateX(-50%) translateY(-50%)
        z-index: -1
        @include breakpoint($tablet)
            display: block
    @include breakpoint($tablet)
        position: relative
        left: 0
        top: 0
        transform: translateX(0) translateY(0)
    &__container
        max-width: 1107px
        width: 100%
        height: 100vh
        position: relative
        @include breakpoint($tablet)
            max-width: 688px
            display: flex
            justify-content: center
            align-items: flex-start
            flex-direction: column
        @include breakpoint($mobile)
            max-width: 100%
            padding-left: 20px
            padding-right: 20px
            padding-top: 50px
        @include breakpoint($mobile-spec-2)
            padding-top: 65px
        @include breakpoint($mobile-spec-3)
            padding-top: 85px
        .bottle_for-mobile &,
        .bottle_for-mobile-2 &
            @include breakpoint($mobile)
                justify-content: flex-start
                padding-top: 115px
    &__col
        &_left
            position: absolute
            left: 0
            top: calc(50% - 70px)
            transform: translateY(-50%)
            z-index: 2
            @include breakpoint($tablet)
                position: relative
                left: 0
                top: 0
                transform: translateY(0)
                margin: 0 0 0 58px
            @include breakpoint($mobile)
                margin-left: 0
        &_center
            position: absolute
            left: 50%
            top: calc(50% - 5px)
            z-index: 0
            transform: translateX(-50%) translateY(-50%)
            @include breakpoint($tablet)
                left: auto
                right: 30px
                top: calc(50% - 63px)
                transform: translateX(0) translateY(-50%)
            @include breakpoint($mobile)
                display: none
            .bottle_for-mobile &
                top: calc(50% - 37px)
                right: 0
            .bottle_for-mobile &
                @include breakpoint($mobile)
                    display: block
                    right: auto
                    left: 50%
                    top: 0
                    transform: translateX(-50%) translateY(0)
            .bottle_for-mobile-2 &
                @include breakpoint($mobile)
                    display: block
                    right: auto
                    left: 50%
                    top: 0
                    transform: translateX(-50%) translateY(0)
        &_right
            position: absolute
            right: 0
            top: calc(50% + 50px)
            transform: translateY(-50%)
            z-index: 2
            width: 260px
            @include breakpoint($tablet)
                position: relative
                left: 0
                top: 0
                transform: translateY(0)
                margin: 0 0 0 58px
            @include breakpoint($mobile)
                margin: 0 auto 0 auto
            .bottle_for-mobile &,
            .bottle_for-mobile-2 &
                @include breakpoint($mobile)
                    display: none
    &__title
        font-family: $font-circe-light
        font-size: 45px
        color: $color-red
        line-height: 1.22
        text-transform: uppercase
        margin: 0 0 20px
        @include breakpoint($tablet)
            font-size: 35px
            opacity: 0
            top: 20px
            visibility: hidden
        @include breakpoint($mobile)
            font-size: 30px
            line-height: 1.33
        @include breakpoint($mobile-spec-2)
            margin-bottom: 5px
        &_active
            opacity: 1
            top: 0
            visibility: visible
            transition: all 1s ease
        &-bold
            font-family: $font-circe-bold
    &__text
        font-family: $font-circe-light
        font-size: 25px
        line-height: 1.4
        color: $color-red
        @include breakpoint($tablet)
            margin-bottom: 40px
            opacity: 0
            top: 20px
            visibility: hidden
        @include breakpoint($mobile)
            font-size: 18px
            line-height: 1.38888889
            margin-bottom: 30px
        @include breakpoint($mobile-spec-2)
            font-size: 15px
            line-height: 1.2
            margin-bottom: 15px
        &_active
            opacity: 1
            top: 0
            visibility: visible
            transition: all 1s ease
    &__object
        background: url(../img/objects/object-bottle.png) center center no-repeat
        background-size: contain
        width: 178px
        height: 543.569892px
        @include breakpoint($mobile)
            width: 125px
            height: 361px
        .bottle_for-mobile-2 &
            @include breakpoint($mobile)
            margin-top: 300px
        @include breakpoint($mobile-spec)
            width: calc(125px / 1.65)
            height: calc(361px / 1.65)
    &__list
        margin: 0
        padding: 0
        list-style: none
        @include breakpoint($tablet)
            opacity: 0
            top: 20px
            visibility: hidden
            position: relative
            left: -15px
        &_active
            opacity: 1
            top: 0
            visibility: visible
            transition: all 1s ease
    &__item
        margin: 0 0 30px
        padding: 0 0 0 70px
        font-family: $font-circe-light
        font-size: 20px
        color: $color-red
        line-height: 1.45
        white-space: nowrap
        display: flex
        justify-content: flex-start
        align-items: center
        @include breakpoint($tablet)
            //margin-bottom: 20px
            //line-height: 1.1
        @include breakpoint($mobile)
            font-size: 15px
            line-height: 1.2
            margin: 0 0 10px
        @include breakpoint($mobile-spec-2)
            font-size: 13px
        &_1
            @extend .icon-bottle-1
        &_2
            @extend .icon-bottle-2
        &_3
            @extend .icon-bottle-3
        &_4
            @extend .icon-bottle-4
        &_5
            @extend .icon-bottle-5
        &_6
            @extend .icon-bottle-6
    &__full-object-wrapper
        position: fixed
        left: 0
        top: 0
        z-index: 1
        background-color: $color-white
        width: 100%
        height: 100vh
        display: flex
        justify-content: center
        align-items: center
        overflow: hidden
        transform: translateY(-100%)
        @include breakpoint($tablet)
            display: none
    &__full-object
        width: 206px
        height: 590px
        background: url('../img/objects/object-pack-classic.png') center center no-repeat
        background-size: contain
        position: absolute
        left: 50%
        top: 50%
        z-index: 0
        margin-top: -286px
        margin-left: -102px
        @include breakpoint($tablet)
            margin-top: 0
            margin-left: 0
            left: 0
            top: 0
            position: relative
        @include breakpoint($mobile)
            width: 207px
            height: 363px
            margin-top: 300px
            margin-left: 0
        @include breakpoint($mobile-spec)
            width: calc(207px / 1.65)
            height: calc(363px / 1.65)
        //.bottle_for-mobile