.bottle(
    data-0="opacity: 0;"
    data-3700="opacity: 0;"
    data-4000="opacity: 1;"
)
    .bottle__container
        .bottle__col.bottle__col_left
            .bottle__title(
                data-0="opacity: 0;"
                data-4100="opacity: 0; transform: translateY(100px)"
                data-4400="opacity: 1; transform: translateY(0)"
                data-animate="1"
            )
                | это вам &mdash;
                br
                span.bottle__title-bold nemoloko
            .bottle__text(
                data-0="opacity: 0;"
                data-4300="opacity: 0; transform: translateY(100px)"
                data-4600="opacity: 1; transform: translateY(0px)"
                data-animate="1"
            )
                | О пользе овса можно говорить
                br
                | часами &mdash; полезный, питательный,
                br
                | вкусный!
        .bottle__col.bottle__col_center
            .bottle__object
        .bottle__col.bottle__col_right
            ul.bottle__list
                li.bottle__item.bottle__item_1(
                    data-0="opacity: 0;"
                    data-4500="opacity: 0; transform: translateY(100px)"
                    data-4800="opacity: 1; transform: translateY(0px)"
                )
                    | нет антибиотиков
                    br
                    | и гормонов
                li.bottle__item.bottle__item_2(
                    data-0="opacity: 0;"
                    data-4550="opacity: 0; transform: translateY(100px)"
                    data-4850="opacity: 1; transform: translateY(0px)"
                )
                    | нет и не может быть
                    br
                    | лактозы и казеина
                li.bottle__item.bottle__item_3(
                    data-0="opacity: 0;"
                    data-4600="opacity: 0; transform: translateY(100px)"
                    data-4900="opacity: 1; transform: translateY(0px)"
                )
                    | нет животного жира
                    br
                    | и пальмового масла
                li.bottle__item.bottle__item_4(
                    data-0="opacity: 0;"
                    data-4650="opacity: 0; transform: translateY(100px)"
                    data-4950="opacity: 1; transform: translateY(0px)"
                ) нет холестерина
                li.bottle__item.bottle__item_5(
                    data-0="opacity: 0;"
                    data-4700="opacity: 0; transform: translateY(100px)"
                    data-5000="opacity: 1; transform: translateY(0px)"
                )
                    | легко усваивается
                    br
                    | и наполняет энергией
                li.bottle__item.bottle__item_6(
                    data-0="opacity: 0;"
                    data-4750="opacity: 0; transform: translateY(100px)"
                    data-5050="opacity: 1; transform: translateY(0px)"
                )
                    | богат клетчаткой овса
    .bottle__full-object-wrapper(
        data-0="transform: translateY(100vh)"
        data-5100="transform: translateY(100vh);"
        data-5700="transform: translateY(0)"
    )
        .bottle__full-object(
            data-0="transform: translateY(-99.992315259999993vh);"
            data-5100="transform: translateY(-99.992315259999993vh);"
            data-5700="transform: translateY(0vh);"
        )