.bottle.bottle_for-mobile
    .bottle__container
        .bottle__col.bottle__col_left
            .bottle__title
                | это вам &mdash;
                br
                span.bottle__title-bold nemoloko
            .bottle__text
                | О пользе овса можно говорить
                br
                | часами &mdash; полезный, питательный,
                br
                | вкусный!
        .bottle__col.bottle__col_center
            .bottle__full-object
        .bottle__col.bottle__col_right
            ul.bottle__list
                li.bottle__item.bottle__item_1
                    | нет антибиотиков
                    br
                    | и гормонов
                li.bottle__item.bottle__item_2
                    | нет и не может быть
                    br
                    | лактозы и казеина
                li.bottle__item.bottle__item_3
                    | нет животного жира
                    br
                    | и пальмового масла
                li.bottle__item.bottle__item_4 нет холестерина
                li.bottle__item.bottle__item_5
                    | легко усваивается
                    br
                    | и наполняет энергией
                li.bottle__item.bottle__item_6
                    | богат клетчаткой овса