.bottle.bottle_for-mobile-2
    .bottle__container
        .bottle__col.bottle__col_left
            .bottle__title
                | это вам &mdash;
                br
                span.bottle__title-bold nemoloko
            .bottle__text
                | О пользе овса можно говорить
                br
                | часами &mdash; полезный, питательный,
                br
                | вкусный!
        .bottle__col.bottle__col_center
            .bottle__object