.product-first(
    data-6000="transform: translateY(100%)"
    data-6600="transform: translateY(0%)"
)
    .product-first__overlay(
        data-6000="opacity: 1;"
        data-6600="opacity: 0;"
    )
    .product-first__container
        .product-first__text-wrapper(
            data-6200="transform: translateX(-15px);"
            data-6700="transform: translateX(0px);"
        )
            .product-first__title Готовьте
            .product-first__text
                | используя во всех
                br
                | кулинарных рецептах
                br
                | вместо молока
        .product-first__object