.seeds.seeds_desktop-1680(
    data-0="opacity: 0;"
    data-1400="opacity: 0;"
    data-1500="opacity: 1;"
    data-2950="opacity: 1;"
    data-4100="opacity: 0;"
)
    .seeds__seed.seeds__seed_1(
    data-1800="transform: rotate(-43deg); left: 195px; top: 174px;"
        data-2200="transform: rotate(1deg); left: -30px; top: 142px;"
        data-2700="transform: rotate(51deg); left: 10px; top: 87.282px; width: 68px; height: 179px;"
        data-4100="transform: rotate(100deg); left: 107px; top: -399px; width: 22.6666666px; height: 59.6666666;"
    )
    .seeds__seed.seeds__seed_2(
        data-1800="transform: rotate(-1deg); left: 202px; top: 119px;"
        data-2200="transform: rotate(0deg); left: -324px; top: 119px; filter: blur(0px);"
        data-2700="transform: rotate(0deg); left: -449.211px; top: 91.919px; filter: blur(10px); width: 151px; height: 155px;"
        data-4100="left: 60px; top: -200px; width: 50.333px; height: 51.666px; filter: blur(0px);"
    )
    .seeds__seed.seeds__seed_3(
        data-1800="transform: rotate(-1deg); left: 353px; top: 104px;"
        data-2200="transform: rotate(0deg); left: 248px; top: 164px;"
        data-2700="transform: rotate(0deg); left: 543.693px; top: 89.5064px; width: 193px; height: 134px;"
        data-4100="left: 108px; top: -192px; width: 64.33px; height: 44.666px;"
    )
    .seeds__seed.seeds__seed_4(
        data-1800="transform: rotate(0deg); left: 381px; top: -1px;"
        data-2200="transform: rotate(0deg); left: 205px; top: -231px;"
        data-2700="transform: rotate(0deg); left: 408.16px; top: -497.96px; width: 189px; height: 46px;"
        data-4100="left: 115px; top: -271px; width: 63px; height: 15.333px;"
    )
    .seeds__seed.seeds__seed_5(
        data-1800="transform: rotate(-1deg); left: 1px; top: 156px;"
        data-2200="transform: rotate(0deg); left: -400px; top: -26px;"
        data-2700="transform: rotate(5deg); left: -582.979px; top: -239.3171px; width: 221px; height: 44px;"
        data-4100="left: 90px; top: -190px; width: 76.66px; height: 14.666px;"
    )
    .seeds__seed.seeds__seed_6(
        data-1800="transform: rotate(44deg); left: 193px; top: -45px;"
        data-2200="transform: rotate(0deg); left: -161px; top: -319px; filter: blur(0px);"
        data-2700="transform: rotate(-13deg); left: -136px; top: -656.827px; filter: blur(10px); width: 103px; height: 189px;"
        data-4100="left: 144px; top: -351px; width: 34.33px; height: 63px; filter: blur(0px);"
    )
    .seeds__seed.seeds__seed_7(
        data-1800="transform: rotate(74deg); left: 470px; top: 84px;"
        data-2200="transform: rotate(0deg); left: 391px; top: -46px; filter: blur(0px);"
        data-2700="transform: rotate(0deg); left: 763.914px; top: -222.9px; filter: blur(10px); width: 219px; height: 106px;"
        data-4100="left: 181px; top: -216px; width: 73px; height: 35.33px; filter: blur(0px);"
    )
    .seeds__seed.seeds__seed_8(
        data-1800="transform: rotate(75deg); left: 337px; top: -26px;"
        data-2200="transform: rotate(0deg); left: 90px; top: -130px;"
        data-2700="transform: rotate(-18deg); left: 90px; top: -224.6429px; width: 113px; height: 199px;"
        data-4100="left: 110px; top: -300px; width: 37.66px; height: 66.33px"
    )