.seeds
    opacity: 0
    position: absolute
    margin: 0 0 0 -150px
    left: 50%
    bottom: 25px
    z-index: 2
    display: flex
    justify-content: flex-start
    align-items: flex-start
    width: 654px
    height: 344px
    @include breakpoint($tablet)
        margin: 0 0 0 0
        left: 0
        top: 0
        z-index: 0
        opacity: 1
        overflow-x: hidden
        bottom: auto
        position: absolute
        width: 100%
        height: 100%
    @include breakpoint($desktop-special-1439)
        display: none
    @include breakpoint($desktop-special-1679)
        display: none
    @include breakpoint($desktop-special-1919)
        display: none
    @include breakpoint($desktop-special-2559)
        display: none
    &_desktop-1440
        display: none
        @include breakpoint($desktop-special-1439)
            display: block
    &_desktop-1680
        display: none
        @include breakpoint($desktop-special-1679)
            display: block
    &_desktop-1920
        display: none
        @include breakpoint($desktop-special-1919)
            display: block
    &_desktop-2560
        display: none
        @include breakpoint($desktop-special-2559)
            display: block
    &_disable-mouse-motion
        transform: translateX(0px) translateY(0px) !important
        transition: transform 0.5s ease
    &__seed
        position: absolute
        -webkit-backface-visibility: hidden /* add to fix webkit bug jitter */
        -webkit-transform: perspective(1000px) /* add to fix webkit bug jitter */
        @include breakpoint($tablet)
            opacity: 0
            visibility: hidden
        &_1
            @extend .icon-seed-1
            transform: rotate(-43deg)
            left: 195px
            top: 174px
            @include breakpoint($tablet)
                transform: rotate(46deg)
                left: auto
                top: auto
                right: 27vw
                bottom: 0
            @include breakpoint($mobile)
                transform: rotate(46deg) scale(0.34)
                left: auto
                top: auto
                right: 47vw
                bottom: 11vh
            &_active
                opacity: 1
                visibility: visible
                transition: all 0.5s ease
        &_2
            @extend .icon-seed-2
            transform: rotate(-1deg)
            left: 202px
            top: 119px
            @include breakpoint($tablet)
                transform: rotate(-120deg) scale(1)
                left: 45vw
                top: 0
                filter: blur(10px)
            @include breakpoint($mobile)
                transform: rotate(-120deg) scale(0.3)
                left: 45vw
                top: -3vh
                filter: blur(39px)
            &_active
                opacity: 1
                visibility: visible
                transition: all 0.5s ease
        &_3
            @extend .icon-seed-3
            transform: rotate(-1deg)
            left: 353px
            top: 104px
            @include breakpoint($tablet)
                transform: rotate(-1deg) scale(0.5)
                left: 50%
                top: auto
                bottom: 50px
                display: none
            @include breakpoint($mobile)
                transform: rotate(119deg) scale(0.34)
                left: 50vw
                top: 43vh
                bottom: 50px
                filter: blur(20px)
                display: block
            &_active
                opacity: 1
                visibility: visible
                transition: all 0.5s ease
        &_4
            @extend .icon-seed-4
            transform: rotate(0)
            left: 381px
            top: -1px
            @include breakpoint($tablet)
                left: auto
                right: -11vw
                top: 15vh
                transform: rotate(0deg) translateX(-50%) translateY(-50%) scale(0.32)
            @include breakpoint($mobile)
                left: -1vw
                right: auto
                top: auto
                bottom: -7vh
                transform: rotate(46deg) translateX(-50%) translateY(-50%) scale(0.3)
                filter: blur(30px)
            &_active
                opacity: 1
                visibility: visible
                transition: all 0.5s ease
        &_5
            @extend .icon-seed-5
            transform: rotate(-1deg)
            left: 1px
            top: 156px
            @include breakpoint($tablet)
                transform: rotate(8deg) scale(0.65)
                left: -79px
                top: 31vh
            @include breakpoint($mobile)
                transform: rotate(8deg) scale(0.31)
                left: -115px
                top: 31vh
            &_active
                opacity: 1
                visibility: visible
                transition: all 0.5s ease
        &_6
            @extend .icon-seed-6
            transform: rotate(44deg)
            left: 193px
            top: -45px
            @include breakpoint($tablet)
                transform: rotate(-70deg) scale(1)
                left: -10px
                top: auto
                bottom: 0
                filter: blur(10px)
            @include breakpoint($mobile)
                transform: rotate(-70deg) scale(-0.29)
                left: -10px
                top: auto
                bottom: -3vh
                filter: blur(40px)
            &_active
                opacity: 1
                visibility: visible
                transition: all 0.5s ease
        &_7
            @extend .icon-seed-7
            transform: rotate(74deg)
            left: 470px
            top: 84px
            @include breakpoint($tablet)
                transform: rotate(60deg) scale(0.97)
                left: auto
                right: -17vw
                top: auto
                bottom: 12vw
            @include breakpoint($mobile)
                transform: rotate(60deg) scale(0.34)
                left: auto
                right: -17vw
                top: auto
                bottom: 12vw
            &_active
                opacity: 1
                visibility: visible
                transition: all 0.5s ease
        &_8
            @extend .icon-seed-8
            transform: rotate(75deg)
            left: 337px
            top: -26px
            @include breakpoint($tablet)
                transform: rotate(-12deg) scale(0.8)
                left: 34vw
                top: 40vw
            @include breakpoint($mobile)
                transform: rotate(-12deg) scale(0.25)
                left: 6vw
                top: 100vw
            &_active
                opacity: 1
                visibility: visible
                transition: all 0.5s ease