.products(
    data-10800="transform: translateY(100%)"
    data-11400="transform: translateY(0%)"
)
    .products__overlay(
        data-10500="opacity: 1;"
        data-11100="opacity: 0;"
    )
    .products__objects
        .products__object.products__object_1(
            data-0="opacity: 0; transform: translateX(-15px);"
            data-11100="opacity: 0; transform: translateX(-15px);"
            data-11300="opacity: 1; transform: translateX(0px);"
        )
        .products__object.products__object_2(
            data-0="opacity: 0; transform: translateX(-15px);"
            data-11300="opacity: 0; transform: translateX(-15px);"
            data-11366="opacity: 1; transform: translateX(0px);"
        )
        .products__object.products__object_3(
            data-0="opacity: 0; transform: translateX(-15px);"
            data-11432="opacity: 0; transform: translateX(-15px);"
            data-11496="opacity: 1; transform: translateX(0px);"
        )
        .products__object.products__object_4(
            data-0="opacity: 0; transform: translateX(-15px);"
            data-11562="opacity: 0; transform: translateX(-15px);"
            data-11598="opacity: 1; transform: translateX(0px);"
        )
        .products__object.products__object_5(
            data-0="opacity: 0; transform: translateX(-15px);"
            data-11664="opacity: 0; transform: translateX(-15px);"
            data-11730="opacity: 1; transform: translateX(0px);"
        )
        .products__object.products__object_6(
            data-0="opacity: 0; transform: translateX(-15px);"
            data-11796="opacity: 0; transform: translateX(-15px);"
            data-11862="opacity: 1; transform: translateX(0px);"
        )
        .products__object.products__object_7(
            data-0="opacity: 0; transform: translateX(-15px);"
            data-11862="opacity: 0; transform: translateX(-15px);"
            data-11928="opacity: 1; transform: translateX(0px);"
        )
        .products__object.products__object_8(
            data-0="opacity: 0; transform: translateY(15px);"
            data-11994="opacity: 0; transform: translateY(15px);"
            data-12060="opacity: 1; transform: translateX(0px);"
        )
