.products
    position: fixed
    left: 0
    top: 0
    z-index: 5
    background-color: $color-yellow
    background-image: url('../img/bgs/bg-5.png')
    background-position: center center
    background-repeat: no-repeat
    background-size: 100% 100%
    width: 100%
    height: 100vh
    display: flex
    justify-content: center
    align-items: center
    overflow: hidden
    transform: translateY(-100%)
    @include breakpoint($tablet)
        position: relative
        left: 0
        top: 0
        transform: translateX(0) translateY(0)
        padding: 40px 0 40px
    &:after
        content: ''
        display: none
        width: 733px
        height: 661px
        background: url('../img/objects/object-products.png') center center no-repeat
        background-size: contain
        margin: 0 0 0 34px
        @include breakpoint($tablet)
            display: block
        @include breakpoint($mobile)
            display: block
            margin: 0 0 0 25px
        @include breakpoint($mobile-spec)
            margin: 50px 0 0 17px
    &__overlay
        position: absolute
        left: 0
        top: 0
        width: 100%
        height: 100vh
        z-index: 2
        background: rgba(78,35,22,0.75)
        @include breakpoint($tablet)
            display: none
    &__objects
        position: relative
        display: flex
        justify-content: flex-start
        align-items: flex-end
        flex-direction: row
        margin: 50px -449px 0 210px
        @include breakpoint($desktop-special)
            margin-top: 50px
            margin-right: calc(-449px / 1.3)
            margin-left: calc(210px / 1.3)
        @include breakpoint($tablet)
            display: none
    &__object
        background-size: contain
        background-position: center center
        background-repeat: no-repeat
        position: relative
        top: 0
        &_1
            width: 295px
            height: 542px
            background-image: url('../img/all-products/object-1.png')
            @include breakpoint($desktop-special)
                width: calc(295px / 1.3)
                height: calc(542px / 1.3)
        &_2
            left: -100px
            width: 269px
            height: 540px
            background-image: url('../img/all-products/object-2.png')
            @include breakpoint($desktop-special)
                left: calc(-100px / 1.3)
                width: calc(269px / 1.3)
                height: calc(540px / 1.3)
        &_3
            left: -180px
            width: 294px
            height: 541px
            background-image: url('../img/all-products/object-3.png')
            @include breakpoint($desktop-special)
                left: calc(-180px / 1.3)
                width: calc(294px / 1.3)
                height: calc(541px / 1.3)
        &_4
            left: -270px
            width: 245px
            height: 300px
            background-image: url('../img/all-products/object-4.png')
            @include breakpoint($desktop-special)
                left: calc(-270px / 1.3)
                width: calc(245px / 1.3)
                height: calc(300px / 1.3)
        &_5
            left: -375px
            width: 254px
            height: 300px
            background-image: url('../img/all-products/object-5.png')
            @include breakpoint($desktop-special)
                left: calc(-375px / 1.3)
                width: calc(254px / 1.3)
                height: calc(300px / 1.3)
        &_6
            left: -490px
            width: 250px
            height: 299px
            background-image: url('../img/all-products/object-6.png')
            @include breakpoint($desktop-special)
                left: calc(-490px / 1.3)
                width: calc(250px / 1.3)
                height: calc(299px / 1.3)
        &_7
            left: -600px
            width: 214px
            height: 300px
            background-image: url('../img/all-products/object-7.png')
            @include breakpoint($desktop-special)
                left: calc(-600px / 1.3)
                width: calc(214px / 1.3)
                height: calc(300px / 1.3)
        &_8
            position: absolute
            left: 692px
            top: -20px
            width: 327px
            height: 194px
            background-image: url('../img/objects/object-slogan.svg')
            background-repeat: no-repeat
            background-position: 0 0
            background-size: contain
            @include breakpoint($desktop-special)
                left: calc(692px / 1.3)
                width: calc(327px / 1.3)
                height: calc(194px / 1.3)
