.alert
    position: fixed
    width: 100%
    height: 100vh
    left: 0
    top: 0
    z-index: 9999
    overflow: hidden
    background: #b6dff0
    justify-content: center
    align-items: center
    display: none
    @media only screen and (min-device-width: 0px) and (max-device-width: 812px) and (orientation: landscape)
        display: flex
    &__message
        font-size: 23px
        line-height: 1.15
        font-family: $font-circe-light
        color: $color-red
        text-align: center
        display: flex
        padding: 0 15px