.product-fourth
    position: fixed
    left: 0
    top: 0
    z-index: 4
    background-color: $color-red-2
    width: 100%
    height: 100vh
    display: flex
    justify-content: center
    align-items: center
    overflow: hidden
    transform: translateY(-100%)
    @include breakpoint($tablet)
        position: relative
        left: 0
        top: 0
        transform: translateX(0) translateY(0)
        padding: 40px 0
    &:before
        content: ''
        display: block
        background: url('../img/bgs/bg-4.png') center center no-repeat
        width: 900px
        height: 900px
        position: absolute
        left: 50%
        top: 50%
        transform: translateX(-50%) translateY(-50%)
        z-index: -1
    &__overlay
        position: absolute
        left: 0
        top: 0
        width: 100%
        height: 100vh
        z-index: 2
        background: rgba(78,35,22,0.50)
        @include breakpoint($tablet)
            display: none
    &__container
        display: flex
        justify-content: flex-start
        align-items: flex-end
        width: 100%
        max-width: 1366px
        @include breakpoint($tablet)
            max-width: 688px
            display: flex
            justify-content: center
            align-items: flex-start
            flex-direction: column
        @include breakpoint($mobile)
            max-width: 100%
            padding-left: 20px
            padding-right: 20px
    &__text-wrapper
        display: flex
        justify-content: flex-start
        align-items: flex-start
        flex-direction: column
        margin: 0 0 20px 113px
        @include breakpoint($tablet)
            margin: -5px 0 0 0
            order: 1
            opacity: 0
            top: 20px
            visibility: hidden
        &_active
            opacity: 1
            top: 0
            visibility: visible
            transition: all 1s ease
    &__title
        font-family: $font-circe-bold
        font-size: 45px
        color: $color-blue
        letter-spacing: 0
        line-height: 1.444
        text-transform: uppercase
        margin: 0 0 20px
        @include breakpoint($tablet)
            font-size: 50px
            margin-bottom: 5px
        @include breakpoint($mobile)
            font-size: 30px
            line-height: 2.166
            margin-bottom: 0
    &__text
        font-family: $font-circe-light
        font-size: 25px
        color: $color-red
        line-height: 1.4
        @include breakpoint($mobile)
            font-size: 18px
            line-height: 1.388
    &__object
        background: url('../img/objects/object-product-4.png') center center no-repeat
        background-size: contain
        width: 750px
        height: 624px
        @include breakpoint($tablet)
            width: 613.342px
            height: 510.301px
            margin: 0 auto
        @include breakpoint($mobile)
            width: calc(361.347px / 1.2)
            height: calc(300.631px / 1.2)