.product-fourth(
    data-9600="transform: translateY(100%)"
    data-10200="transform: translateY(0%)"
)
    .product-fourth__overlay(
        data-9600="opacity: 1;"
        data-10200="opacity: 0;"
    )
    .product-fourth__container
        .product-fourth__text-wrapper(
            data-9800="transform: translateX(-15px);"
            data-10300="transform: translateX(0px);"
        )
            .product-fourth__title лакомьтесь
            .product-fourth__text
                | десертом или используйте
                br
                | как добавление к блюдам
                br
                | вместо заварного крема
        .product-fourth__object