.cover
    position: fixed
    width: 100%
    height: 100vh
    overflow: hidden
    left: 0
    top: 0
    z-index: 1
    background-color: $color-almond
    @include breakpoint($tablet)
        position: relative
        display: flex
        justify-content: center
        align-items: center
        padding: 40px 0
    &_for-mobile
        display: none
        @include breakpoint($tablet)
            display: flex
    &:before
        content: ''
        display: block
        background: url('../img/bgs/bg-3.png') center center no-repeat
        background-size: 790px 768px
        width: 900px
        height: 900px
        position: absolute
        left: 50%
        top: 50%
        transform: translateX(-50%) translateY(-50%)
        z-index: -1
        @include breakpoint($tablet)
            display: none
        @include breakpoint($mobile)
            display: none
    &__text-wrapper
        z-index: 2
        width: 100%
        height: 100vh
        max-width: 1366px
        position: absolute
        left: 50%
        top: 50%
        transform: translateX(-50%) translateY(-50%)
        @include breakpoint($tablet)
            max-width: 688px
            position: relative
            width: auto
            height: auto
            left: 0
            top: 20px
            opacity: 0
            visibility: hidden
            transform: translateX(0) translateY(0)
        @include breakpoint($mobile)
            max-width: 330px
            padding-left: 20px
            padding-right: 20px
        &:nth-child(2)
            @include breakpoint($tablet)
                display: none
        &_active
            top: 0
            opacity: 1
            visibility: visible
            transition: all 0.3s ease
    &__text
        position: absolute
        left: 227px
        top: 50%
        transform: translateY(-50%)
        color: $color-white
        text-transform: uppercase
        z-index: 2
        @include breakpoint($tablet)
            left: 0
            position: relative
            transform: translateY(0)
        &_first
            opacity: 0 !important
            visibility: hidden
            margin-top: 20px
            @include breakpoint($tablet)
                opacity: 1 !important
                margin-top: 0
                visibility: visible
            &_active
                margin-top: 0
                opacity: 1 !important
                visibility: visible
                transition: all 0.5s ease
        &_second
            @include breakpoint($tablet)
                display: none
            .cover_for-mobile &
                @include breakpoint($tablet)
                    display: block
    &__text-light
        font-family: $font-circe-light
        .cover__text_first &
            font-size: 45px
            line-height: 1.444
            @include breakpoint($tablet)
                font-size: 35px
                line-height: 1.42857143
            @include breakpoint($mobile)
                font-size: 25px
        .cover__text_second &
            font-size: 45px
            line-height: 1.444
            @include breakpoint($tablet)
                font-size: 35px
                line-height: 1.42857143
            @include breakpoint($mobile)
                font-size: 25px
    &__text-bold
        font-family: $font-circe-bold
        .cover__text_first &
            font-size: 90px
            line-height: 1.09
            @include breakpoint($tablet)
                font-size: 70px
            @include breakpoint($mobile)
                font-size: 45px
                //line-height: 1.466
        .cover__text_second &
            font-size: 90px
            line-height: 1.15
            @include breakpoint($tablet)
                font-size: 70px
            @include breakpoint($mobile)
                font-size: 45px
                //line-height: 1.466
        &_small
            .cover__text_second &
                font-size: 45px
                line-height: 1.444
    &__spike
        width: 1100px
        height: 555px
        background: url(../img/objects/object-spike.png) center center no-repeat
        background-size: contain
        position: absolute
        left: calc(50% - 550px)
        bottom: -171px
        transition: transform 0.01s ease-in
        z-index: 1
        display: none
        margin: 120px 0 0 0
        animation: 8s infinite ease
        animation-name: moveSpike_1, moveSpike_2
        @include breakpoint($tablet)
            width: 714px
            height: 360px
            left: calc(50% - 357px)
            bottom: -19px !important
        @include breakpoint($mobile)
            width: 355px
            height: 178px
            left: calc(50% - 177.5px)
            bottom: -13px !important
        .cover_for-mobile &
            @include breakpoint($tablet)
                background-image: url(../img/objects/object-spike-2.png)
    &__background
        display: none
        position: absolute
        left: 0
        top: 0
        z-index: -1
        background-image: url('../img/bgs/bg-1.jpg')
        background-position: center 0
        background-repeat: no-repeat
        background-size: cover
        width: 100%
        height: 100vh
        @include breakpoint($tablet)
            display: block
    &__background-blur
        position: absolute
        left: 0
        top: 0
        z-index: -1
        background-image: url('../img/bgs/bg-2.jpg')
        background-position: center 0
        background-repeat: no-repeat
        background-size: cover
        width: 100%
        height: 100vh
        @include breakpoint($tablet)
            display: none
        .cover_for-mobile &
            @include breakpoint($tablet)
                display: block
