.cover(
    v-bind="scrollToEl"
)
    include ../header/header.pug
    .cover__text-wrapper
        .cover__text.cover__text_first
            .cover__text-bold Мы за мир,
            .cover__text-light
                | в котором все натуральное
                br
                | и полезное!
    .cover__text-wrapper
        .cover__text.cover__text_second(
            data-250="opacity: 0; margin-top: 20px;"
            data-550="opacity: 1; margin-top: 0;"
            data-2000="opacity: 0; display: block;"
            data-2100="display: none;"
        )
            .cover__text-top
                .cover__text-light поэтому мы создали
            .cover__text-middle
                .cover__text-bold nemoloko
            .cover__text-bottom
                .cover__text-bold.cover__text-bold_small из 100%
                    .cover__text-light
                        | российского
                        br
                        | овса
    .cover__spike(
        data-0="background-image: !url('../dist/img/objects/object-spike.png');"
        data-750="background-image: !url('../dist/img/objects/object-spike-2.png'); transition: background 1s ease;"
        data-1550="background-image: !url('../dist/img/objects/object-spike-2.png'); transition: background 1s ease; bottom: -171px; opacity: 1;"
        data-2000="bottom: -232px; opacity: 0;"
    )
    .cover__special-wrapper(
        v-bind="cutAndPasteСontent"
    )
        include ../seeds/seeds.pug
        include ../seeds/seeds-1440.pug
        include ../seeds/seeds-1680.pug
        include ../seeds/seeds-1920.pug
        include ../seeds/seeds-2560.pug
        include ../bottle/bottle.pug
        include ../bottle/bottle-for-mobile-2.pug
        include ../bottle/bottle-for-mobile.pug
        include ../product-first/product-first.pug
        include ../product-second/product-second.pug
        include ../product-third/product-third.pug
        include ../product-fourth/product-fourth.pug
        include ../products/products.pug
    .cover__background(
        data-0="opacity: 1;"
        data-100="opacity: 1"
        data-200="opacity: 0;"
    )
    .cover__background-blur(
        data-0="opacity: 0;"
        data-100="opacity: 1;"
        data-1200="opacity: 1;"
        data-2000="opacity: 0;"
    )