.cover.cover_for-mobile(
    v-bind="animateSpike, scrollToEl"
)
    .cover__text-wrapper
        .cover__text.cover__text_second
            .cover__text-top
                .cover__text-light поэтому мы создали
            .cover__text-middle
                .cover__text-bold nemoloko
            .cover__text-bottom
                .cover__text-bold.cover__text-bold_small из 100%
                    .cover__text-light
                        | российского
                        br
                        | овса
    .cover__spike
    .cover__background-blur(
        data-0="opacity: 0;"
        data-100="opacity: 1;"
        data-1200="opacity: 1;"
        data-2000="opacity: 0;"
    )