.header
    .header__logo
    .header__scroll-down
        .header__scroll-down-icon
            .header__scroll-down-part-icon.header__scroll-down-part-icon_1
            .header__scroll-down-part-icon.header__scroll-down-part-icon_2
            .header__scroll-down-part-icon.header__scroll-down-part-icon_3
            .header__scroll-down-part-icon.header__scroll-down-part-icon_4
            .header__scroll-down-part-icon.header__scroll-down-part-icon_5
            .header__scroll-down-part-icon.header__scroll-down-part-icon_6