// Scroll down icon : begin
@keyframes animateScrollDown_1
    0%
        top: -2px
        opacity: 0
    50%
        top: 1px
        opacity: 1
    100%
        opacity: 0
@keyframes animateScrollDown_2
    0%
        top: 4px
        opacity: 0
    50%
        top: 7px
        opacity: 1
    100%
        opacity: 0
@keyframes animateScrollDown_3
    0%
        top: 10px
        opacity: 0
    50%
        top: 13px
        opacity: 1
    100%
        opacity: 0
// Scroll down icon : end

// Spike move : begin
@keyframes moveSpike_1
    0%
        transform: rotate(0deg)
        transform-origin: 0 100%
    10%
        transform: rotate(0.8deg)
        transform-origin: 0 100%
    25%
        transform: rotate(0.3deg)
        transform-origin: 0 100%
    35%
        transform: rotate(0.8deg)
        transform-origin: 0 100%
    50%
        transform: rotate(-1.8deg)
        transform-origin: 0 100%
    75%
        transform: rotate(-1deg)
        transform-origin: 0 100%
    85%
        transform: rotate(-0.8deg)
        transform-origin: 0 100%
    95%
        transform: rotate(-1.5deg)
        transform-origin: 0 100%
    100%
        transform: rotate(0deg)
        transform-origin: 0 100%
@keyframes moveSpike_2
    0%
        transform: rotate(0deg)
        transform-origin: 0 100%
    50%
        transform: rotate(2deg)
        transform-origin: 0 100%
    100%
        transform: rotate(0deg)
        transform-origin: 0 100%
// Spike move : end