*,
*:before,
*:after
    margin: 0
    padding: 0
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box
html
    height: 100%
    min-height: 100%
    position: relative
    margin: 0
    padding: 0
body
    margin: 0
    padding: 0
    position: relative
    width: 100%
    height: 100%
    background-color: $color-white
    overflow: hidden
    &.body_active
        overflow: auto