// Glass (container)
@mixin glass($width)
    width: 100%
    max-width: 1330px
    margin-left: auto
    margin-right: auto
    position: relative
// default btn mixin
@mixin btn-default
    display: inline-block
    @include font(16px,1,400)
    text-align: center
    color: $color-white
    cursor: pointer
    border: none
    outline: none
    text-decoration: none
    padding: 10px 0
    border-radius: 2px
    margin: 0
    background-color: $color-blue
    transition: all 0.2s ease
    @include breakpoint($tablet)
        @include font(19px,1,400)
        padding: 18.5px 0
    &:hover
        background-color: rgba($color-blue, 0.9)
// default btn border mixin
@mixin btn-default-border
    display: inline-block
    @include font(16px,1,400)
    color: $color-blue
    cursor: pointer
    text-align: center
    border: 1px $color-blue solid
    outline: none
    text-decoration: none
    padding: 9px 0
    border-radius: 2px
    font-weight: normal
    line-height: normal
    margin: 0
    background-color: $color-white
    transition: all 0.2s ease
    @include breakpoint($tablet)
        @include font(19px,1,400)
        padding: 17.5px 0
    &:hover
        background-color: $color-blue
        color: $color-white
// default input
@mixin defaultInput
    width: 100%
    box-sizing: border-box
    outline: none
    border: 1px $color-gray solid
    padding: 8px 9px
    border-radius: 0
    display: block
    @include font(16px,normal,300)
    color: $color-black
    transition: all 0.3s ease-out
    @include placeholder($color-black)
    @include breakpoint($tablet)
        @include font(19px,normal,300)
        padding: 16px 21px
    &:focus,
    &:active
        outline: none
        box-shadow: inset 0 0 1px rgba($color-black, 0.18)
// default textarea
@mixin defaultTextarea
    width: 100%
    box-sizing: border-box
    outline: none
    border: 1px $color-gray solid
    padding: 8px 9px
    border-radius: 0
    display: block
    resize: vertical
    @include font(16px,normal,300)
    color: $color-black
    transition: all 0.3s ease-out
    @include placeholder($color-gray-4)
    @include breakpoint($tablet)
        @include font(19px,1.21,300)
        padding: 15px 13px
    &:focus,
    &:active
        outline: none
        box-shadow: inset 0 0 1px rgba($color-black, 0.18)
