// Import
// PT Sans
//@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&subset=cyrillic-ext')
//'PT Sans', sans-serif
// Circe
@font-face 
    font-family: 'Circe'
    src: url('../fonts/circe/Circe.eot')
    src: url('../fonts/circe/Circe.eot?#iefix') format('embedded-opentype'),
    url('../fonts/circe/Circe.woff2') format('woff2'),
    url('../fonts/circe/Circe.woff') format('woff'),
    url('../fonts/circe/Circe.ttf') format('truetype'),
    url('../fonts/circe/Circe.otf') format('opentype'),
    url('../fonts/circe/Circe.svg#Circe') format('svg')
        font-weight: 400
        font-style: normal
        font-stretch: normal
        unicode-range: U+0020-FB02
// Circe Bold
@font-face 
    font-family: 'Circe Bold'
    src: url('../fonts/circe-bold/Circe-Bold.eot')
    src: url('../fonts/circe-bold/Circe-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/circe-bold/Circe-Bold.woff2') format('woff2'),
    url('../fonts/circe-bold/Circe-Bold.woff') format('woff'),
    url('../fonts/circe-bold/Circe-Bold.ttf') format('truetype'),
    url('../fonts/circe-bold/Circe-Bold.otf') format('opentype'),
    url('../fonts/circe-bold/Circe-Bold.svg#Circe-Bold') format('svg')
        font-weight: 700
        font-style: normal
        font-stretch: normal
        unicode-range: U+0020-FB02
// Circe-Light
@font-face
    font-family: 'Circe Light'
    src: url('../fonts/circe-light/Circe-Light.eot')
    src: url('../fonts/circe-light/Circe-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/circe-light/Circe-Light.woff2') format('woff2'),
    url('../fonts/circe-light/Circe-Light.woff') format('woff'),
    url('../fonts/circe-light/Circe-Light.ttf') format('truetype'),
    url('../fonts/circe-light/Circe-Light.otf') format('opentype'),
    url('../fonts/circe-light/Circe-Light.svg#Circe-Light') format('svg')
        font-weight: 350
        font-style: normal
        font-stretch: normal
        unicode-range: U+0020-0491

html
    -webkit-font-smoothing: antialiased

body
    font-family: $font-circe
    font-size: 30px
    line-height: 1.2
    color: $color-black
    text-rendering: optimizeLegibility
    -webkit-text-rendering: optimizeLegibility

// h1-h6 titles
h1, h2, h3, h4, h5, h6
    margin: 0
    padding: 0

// text (link, bold, italic) : begin
p
    margin: 0
    padding: 0
    b
        font-weight: bold
    i
        font-style: italic
    a
        // default styles for normal links
        &[href]:not([class])
        &:hover
        &:active
        &:visited
// text (link, bold, italic) : end

// bulleted list : begin
ul
    margin: 0
    padding: 0
    li
        margin: 0
        padding: 0
// bulleted list : end

// numbered list : begin
ol
    margin: 0
    padding: 0
    li
        margin: 0
        padding: 0
// numbered list : end
