doctype html
html
    head
        meta(charset="utf-8")
        title NEMOLOKO
        meta(
            name="keywords"
            content=""
        )
        meta(
            name="description"
            content=""
        )
        meta(
            name="viewport"
            content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"
        )
        meta(
            name="format-detection"
            content="telephone=no"
        )
        meta(
            name="skype-toolbar"
            content="skype-toolbar-parser-compatible"
        )
        link(
            rel="stylesheet"
            href="/dist/css/app-project.css"
        )
        link(
            rel="apple-touch-icon"
            sizes="57x57"
            href="/dist/img/favicons/apple-icon-57x57.png"
        )
        link(
            rel="apple-touch-icon"
            sizes="60x60"
            href="/dist/img/favicons/apple-icon-60x60.png"
        )
        link(
            rel="apple-touch-icon"
            sizes="72x72"
            href="/dist/img/favicons/apple-icon-72x72.png"
        )
        link(
            rel="apple-touch-icon"
            sizes="76x76"
            href="/dist/img/favicons/apple-icon-76x76.png"
        )
        link(
            rel="apple-touch-icon"
            sizes="114x114"
            href="/dist/img/favicons/apple-icon-114x114.png"
        )
        link(
            rel="apple-touch-icon"
            sizes="120x120"
            href="/dist/img/favicons/apple-icon-120x120.png"
        )
        link(
            rel="apple-touch-icon"
            sizes="144x144"
            href="/dist/img/favicons/apple-icon-144x144.png"
        )
        link(
            rel="apple-touch-icon"
            sizes="152x152"
            href="/dist/img/favicons/apple-icon-152x152.png"
        )
        link(
            rel="apple-touch-icon"
            sizes="180x180"
            href="/dist/img/favicons/apple-icon-180x180.png"
        )
        link(
            rel="icon"
            type="image/png"
            sizes="192x192"
            href="/dist/img/favicons/android-icon-192x192.png"
        )
        link(
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/dist/img/favicons/favicon-32x32.png"
        )
        link(
            rel="icon"
            type="image/png"
            sizes="96x96"
            href="/dist/img/favicons/favicon-96x96.png"
        )
        link(
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/dist/img/favicons/favicon-16x16.png"
        )
        link(
            rel="manifest"
            href="/dist/img/favicons/manifest.json"
        )
        meta(
            name="msapplication-TileColor"
            content="#ffffff"
        )
        meta(
            name="msapplication-TileImage"
            content="/dist/img/favicons/ms-icon-144x144.png"
        )
        meta(
            name="theme-color"
            content="#ffffff"
        )
    body
        #app(
            v-bind="showFirstSlide"
        )
            include ../../public/blocks/preloader/preloader.pug
            include ../../public/blocks/alert/alert
            include ../../public/blocks/cover/cover.pug
            include ../../public/blocks/cover/cover-for-mobile.pug
            include ../../public/blocks/composition/composition.pug
        script(src="/dist/js/app-project-base.js")
        script(src="/dist/js/app-project-run.js")
