.preloader
    position: fixed
    width: 100%
    height: 100vh
    left: 0
    top: 0
    z-index: 9998
    overflow: hidden
    &__logo
        @extend .icon-logo
        position: absolute
        left: 40px
        top: 39px
        @include breakpoint($tablet)
            width: 187px
            height: 69px
        @include breakpoint($mobile)
            width: 125px
            height: 47px
            left: 20px
            top: 20px
    &__overlay
        position: fixed
        width: 100%
        height: 100vh
        background: #b6dff0
    &__percent
        position: absolute
        right: 40px
        top: 28px
        font-size: 40px
        line-height: 1
        font-family: $font-circe-light
        color: $color-red
        text-align: right
        @include breakpoint($tablet)
            font-size: 35px
            top: 37px
        @include breakpoint($mobile)
            font-size: 25px
            right: 20px
            top: 20px
    &__text
    &__number
        font-family: $font-circe-bold
        color: $color-red
    &__number-value
    &__number-character
    &__bottle
        position: absolute
        left: 50%
        top: 50%
        transform: translate(-50%, -50%)
        width: 61px
        height: 183px
        display: block
    &__milk-bottle
        width: 61px
        height: 183px
