.composition
    .composition__container(
        data-0="opacity: 0;"
        data-2000="opacity: 0;"
        data-2100="opacity: 1;"
        data-3600="opacity: 1;"
        data-3700="opacity: 0;"
    )
        .composition__col.composition__col_left
            .composition__title(
                data-2000="left: -25px; display: none;"
                data-2001="display: block;"
                data-2300="left: 0; display: block;"
            ) овес богат
            ul.composition__list
                li.composition__item(
                    data-2050="left: -25px; display: none;"
                    data-2051="display: block;"
                    data-2350="left: 0; display: block;"
                ) белком
                li.composition__item(
                    data-2100="left: -25px; display: none;"
                    data-2101="display: block;"
                    data-2400="left: 0; display: block;"
                ) клетчаткой
                li.composition__item(
                    data-2150="left: -25px; display: none;"
                    data-2151="display: block;"
                    data-2450="left: 0; display: block;"
                ) полезными жирами
                li.composition__item(
                    data-2200="left: -25px; display: none;"
                    data-2201="display: block;"
                    data-2500="left: 0; display: block;"
                ) углеводами
                li.composition__item(
                    data-2250="left: -25px; display: none;"
                    data-2251="display: block;"
                    data-2550="left: 0; display: block;"
                ) кальцием
                li.composition__item(
                    data-2300="left: -25px; display: none;"
                    data-2301="display: block;"
                    data-2600="left: 0; display: block;"
                ) витаминами
        .composition__col.composition__col_right
            ul.composition__vitamins
                li.composition__vitamins-item(
                    data-2600="transform: scale(0.0);"
                    data-2700="transform: scale(1.0);"
                ) H
                li.composition__vitamins-item(
                    data-2600="transform: scale(0.0);"
                    data-2700="transform: scale(1.0);"
                ) E
                li.composition__vitamins-item(
                    data-2600="transform: scale(0.0);"
                    data-2700="transform: scale(1.0);"
                ) B
                li.composition__vitamins-item(
                    data-2600="transform: scale(0.0);"
                    data-2700="transform: scale(1.0);"
                ) K
                li.composition__vitamins-item(
                    data-2600="transform: scale(0.0);"
                    data-2700="transform: scale(1.0);"
                ) Ca
                li.composition__vitamins-item(
                    data-2600="transform: scale(0.0);"
                    data-2700="transform: scale(1.0);"
                ) P
                li.composition__vitamins-item(
                    data-2600="transform: scale(0.0);"
                    data-2700="transform: scale(1.0);"
                ) Se
                li.composition__vitamins-item.composition__vitamins-item_special(
                    data-2600="transform: scale(0.0);"
                    data-2700="transform: scale(1.0);"
                )
                li.composition__vitamins-item(
                    data-2600="transform: scale(0.0);"
                    data-2700="transform: scale(1.0);"
                ) Fe