.product-second(
    data-7200="transform: translateY(100%)"
    data-7800="transform: translateY(0%)"
)
    .product-second__overlay(
        data-7200="opacity: 1;"
        data-7800="opacity: 0;"
    )
    .product-second__container
        .product-second__text-wrapper(
            data-7400="transform: translateX(-15px);"
            data-7900="transform: translateX(0px);"
        )
            .product-second__title пейте
            .product-second__text
                | с печеньем, снеками
                br
                | и просто без всего
                br
                | на завтрак или полдник
        .product-second__object